<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Login</title>
</head>
<body>
	<section style="min-height: 90vh;"
		class="d-flex align-items-center justify-content-center bg-light mt-2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="my-card shadow rounded-4 p-5 bg-white">

						<h3 class="text-center" style="color:blue;">Enter New Password</h3>


						<form method="post" th:action="@{/change-password}">
							<div class="form-group m-4">
								<input required="required"
									pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
									name="newpassword" type="password"
									placeholder="Enter New Password Here" class="form-control"
									title="Password must be at least 6 characters and include letters, numbers, and a special character.">
								<div class="form-text">Must contain letters, numbers, and
									at least one special character (e.g. @, $, !, %, *).</div>
							</div>

							<div class="container mt-2 text-center">
								<button type="submit" class="btn btn-success">Change
									Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
